{# Load the tag library #}
{% load bootstrap3 %}
{% load static %}
{% load thumbnail %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title> ShotMe </title>
    <style>
        body {
            padding-top: 150px;
        }

        #myImg {
        cursor: pointer;
        transition: 0.3s;
       }

        #myImg:hover {opacity: 0.7;}

        .card {
            box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.2);
        }

</style>

</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #e6e6e6">
    <div class="container-fluid ">
    <div class="container">
 <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'main' %}" style="text-decoration: none; color: #333333">
                <h1>ShotMe</h1> </a>
    </div>


<ul class="nav navbar-nav navbar-right" >
<br><br>

{#            <div class="btn-group" role="group" aria-label="Basic example" style="float:right">#}

    {% if not user.is_authenticated %}
         <div class="btn-group" role="group" aria-label="Basic example" style="float:right">
            <a style="border-radius: 0 0 0 0" href="{% url 'login' %}" class="btn btn-success" role="button">Log In</a>
            <a style="border-radius: 0 0 0 0" href="{% url 'registration' %}" class="btn btn-info" role="button">Sign Up</a>
</div>
    {% else %}
                    <div class="dropdown" style="float: right">
                        <button style="border-radius: 0 0 0 0" class="btn btn-danger dropdown-toggle" type="button"
                                data-toggle="dropdown">{{ user.username }}
                            <span class="caret"></span></button>
                        <ul style="border-radius: 0 0 0 0" class="dropdown-menu">
                            <li><a href="{% url 'logout' %}" >Logout</a></li>
                            <li><a href="{% url 'extend' %}">Edit profile</a></li>
                            <li><a href="{% url 'portfolioedit' %}">Edit portfolio</a></li>
                            <li><a href="{% url 'album' %}">Edit albums</a></li>
                        </ul>

                    </div>

                {% endif %}
</ul>
{#            </div>#}

<br><br>
            {% if user.is_authenticated %}
            {% block buttons %}
                <div style="border-radius: 0 0 0 0; margin-left: 5%"  class="btn-group" role="group" aria-label="Basic example">
            <a style="border-radius: 0 0 0 0" href="{% url 'profile' user.id %}" class="btn btn-info" role="button">My page</a>
            <a style="border-radius: 0 0 0 0" href="{% url 'allprofiles' %}" class="btn btn-info" role="button">Users</a>
          <a style="border-radius: 0 0 0 0" href="" class="btn btn-info" role="button">nothing</a>
    </div>


            {% endblock %}
            {% endif %}

 </div>

</div>

<br><br>

</nav>
{% block nav %}

{% endblock %}

{% block main %} {% endblock %}
<br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>