{% extends "layout.html" %}
{% load thumbnail %}









{% block main %}
    <div class="container" style="padding-top: 2%;">
    <div class="row">

    <div class="col-sm-4">

<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    text-align: center;">
{% if not pmuser.photo.image %}

 {% thumbnail 'media/empty-featured2-1.png' "x400" crop="center" padding=True as im %}

                      <a   href=""> <img id="myImg" class="img-responsive"  src="{{ MEDIA_URL }}{{ im }}" >
                                    </a>
                                    {% endthumbnail %}

{%  else %}
{% thumbnail  pmuser.photo.image  "x600" crop="center" padding=True as im %}

  <img id="myImg" data-toggle="modal" data-target="#myModal" class="responsive " src="{{ MEDIA_URL }}{{ im }}" style="width: 100%; " >
{% endthumbnail %}
{% endif %}
<span class="badge text-success" style="float: right; border-radius: 0 0 0 0">Rating - {{ pmuser.likes}} </span>
    <h1>{{ pmuser.username }}</h1>
     {% if pmuser.photograph and pmuser.model %}
         <h3> <small> Photograph and Model </small></h3>
    {% elif pmuser.model %}
    <h3> <small> Model </small></h3>
        {% elif pmuser.photograph %}
        <h3> <small> Photograph </small></h3>


        {% else %}
                 <h3> <small> Commentator </small></h3>

    {% endif %}
{% if pmuser.city %}
    <h4> From {{ pmuser.city }}  </h4>
{% endif %}
    <a href="#"><i class="fa fa-vk"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
<br>
    <p><button style="color: black; border-radius: 0 0 0 0 " class="btn btn-default">Contact</button></p>
    <br>
  </div>
</div>

    <div class="col-sm-8" >

 <h1 style="text-align: center; color: darkgray "> Portfolio </h1>
        <div class="card" style="box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%; ">

        {% if not pmuser.portfolio.random_img.image %}

                                    {% thumbnail 'media/empty-featured2-1.png' "x400" crop="center" padding=True as im %}

                      <a   href="{% url 'portfolio' pmuser.id %}"> <img id="myImg" class="img-responsive"  src="{{ MEDIA_URL }}{{ im }}" >
                                    </a>
                                    {% endthumbnail %}
        {% else %}

            {% thumbnail pmuser.portfolio.random_img.image  "800x400" crop="center"  as im %}

         <a href="{% url 'portfolio' pmuser.id %}"> <span class="badge text-success" style="float: right; border-radius: 0 0 0 0">{{ pmuser.portfolio.likes }} likes</span> <img id="myImg" class="img-responsive" src="{{ MEDIA_URL }}{{ im }}" >
        </a>
            {% endthumbnail %}

        {% endif %}
    </div>

    </div>


</div>
    <br>
    <div class="row">
    <div class="col-sm-4">

</div>


<div class="col-sm-8">



    <div  class="panel panel-default" style="border-radius: 0 0 0 0">
     <div class="panel-body" style="text-align: center">
     <h2 style="text-align: center; color: darkgray "> Albums </h2>
     </div>
     </div>
<div class="row">
            {% for alb in album_list %}

                <div class="col-sm-6">
                            <div class="card" style="box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.2);">

                    {% if not alb.random_img.image %}

                        {% thumbnail 'media/empty-featured2-1.png' "450x300" crop="center" padding=True as im %}
                            <h3 class="text-muted">{{ alb.album_name }}<span class="badge text-success" style="float: right; border-radius: 0 0 0 0">{{ alb.likes }} likes</span></h3>
                            <a href="{% url 'photolist' alb.id %}"> <img id="myImg" class="img-responsive"
                                                                         src="{{ MEDIA_URL }}{{ im }}">
                            </a>

                        {% endthumbnail %}
                    {% else %}

                        {% thumbnail alb.random_img.image "450x300" crop="center" padding=True as im %}
                            <h3 class="text-muted">{{ alb.album_name }}<span class="badge text-success" style="float: right; border-radius: 0 0 0 0">{{ alb.likes }} likes</span></h3>
                            <a href="{% url 'photolist' alb.id %}"> <img id="myImg" class="img-responsive"
                                                                         src="{{ MEDIA_URL }}{{ im }}">
                            </a>



                        {% endthumbnail %}



                    {% endif %}
                            </div>
                </div>

            {% endfor %}
        </div>
</div>
</div>
    </div>
     <div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog modal-lg" style="width: 70%">

    <!-- Modal content-->
    <div class="modal-content" style="border-radius: 0 0 0 0; vertical-align: middle">


      <div data-interval="0" id="myCarousel" class="carousel slide" data-ride="carousel">


<div class="card" style="box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.2);">

            <div class="carousel-inner" role="listbox">

{% thumbnail  pmuser.photo.image  "2560x1440" crop="center" padding=True as im %}

  <img class="responsive " src="{{ MEDIA_URL }}{{ im }}" style="width: 100%; " >
{% endthumbnail %}

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
      </div>
        <br>
    <br><br>


  </div>
</div>
{% endblock %}

